body {
  text-align: center;
}

p {
  margin: 0;
  display: inline-block;
}
li {
  margin-bottom: 2px;
  background-color: #eee;
  border: 1px solid #ccc;
  display: block;
  list-style: none;
  text-align: left;
  width: 300px;
}

button {
  margin-bottom: 2px;
  /*vertical-align: top;*/
  margin-left: 2px;
  border: 1px solid #ccc;
  width: 100px;
  display: inline-block;
}

li button {
  float: right;
}

.taskDone {
  background-color: #b0cbe7;
}
